*{
	margin:0;
	padding:0;
	border:0;
}
 *,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
}
:focus,:active{
	outline:none;
}
a:focus,a:active{
	outline:none;
}
nav,footer,header,aside{
	display:block;
}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height:1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

}
input,button, textarea{
	font-family:inherit;

}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0; border:0;}
a, a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li {list-style:none;}
img{vertical-align:top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400;}


body{
    background-color: black;
    display:flex;
    flex-direction:column;
    
}
.container {
    width:250px;
    margin:0 auto;
    height:100%;
}
.logo{
    margin:120px 0 51px 0;
    display:flex;
    justify-content: center;
}
.separator{
    margin: 21px 0 21px 0;
    display:flex;
    justify-content: center;

}
.text {
    font-family: OpenSans;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}
.list {
    display:flex;
    justify-content:space-around;
}

.footer {
    text-align:center;
    margin-top: 87px;
}
.footer__text {
    color:white;
}

.footer__text--turquoise {
    color:#00c7fc;
}
